p, em {
    margin: 0;
    padding: 0;
}

body{ 
    background-color: white ;
    margin: 0;
    padding: 0;
}

 /*lily's header*/ .header {
    border-bottom: solid;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(133, 101, 101, 0.64);
}
.left-section {
    display: inline-flex;
}
#logo {
    height: 1.3em;
    margin-right: 0.5rem;
}
.right-section {
    display: flex;
    gap: 2.3rem;
}
.element {
    color: black;
    text-decoration: none; 
}
.element:hover {
    color: gray;
}
#cart {
    height: 1em;
    margin-top: 0.1rem;
}/*lily's header*/

.container{
    padding-top: 6rem; 
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    background-color: white;
    margin-bottom: 5rem;
}

.image-box{
    display: flex;
    flex:0.7;
}

.product-image{
    margin-left: 4rem;
    margin-top: 2rem;
    box-shadow: 0 0 15px 10px rgba(104, 97, 97, 0.5);
}

.product-info{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    margin-top: 2rem;
    max-width:100%;
    max-height: 100%;
}

.text{
    display: inline;
    font-size: 3rem;
}

.taste{
    display: inline;
    font-size: 1.7rem;
}

.price{
    font-size: 1.5rem;
    margin-top:2rem;
    margin-bottom: 4rem;
}

.description{
    display: inline;
    font-size: 1.5rem;
}

.quantity-text{
    display: inline;
    font-size: 1.5rem;
}

.quantity-box{
    margin-top: 4rem;
    cursor: pointer;
    border-radius: 0.2rem;
    width: 50;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.add{
    margin-top: 5rem;
    cursor: pointer;
    background-color: rgb(75, 54, 54);
    color: aliceblue;
    border-radius: 5rem;
    width: 50%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: none;
    margin-left: 6rem;
}

.add:hover{
    background-color:rgb(88, 67, 67);

}

.footer-container{
    background-color: rgba(133, 101, 101, 0.64);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 2rem;
}

.information{
    display: flex;
    justify-self:center;
    align-items: baseline;
    flex-direction: row;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

.newsletter{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 2rem;
    font-size: 1.5rem;

}

.location{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
    font-size: 1.5rem;
}

.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
    font-size: 1.5rem;
}

.follow{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    align:center:
}

.put-email{
    display: flex;
    align-items: center;
}



.email{
    cursor: pointer;
    border-radius: 2rem;
    width: 20rem;
    font-size: 1.5rem;
    padding: 0.2rem;
}

.spam{
    margin-left: 1rem;
    border-radius: 4rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border: none;
    background-color: rgb(75, 54, 54);
    color: white;
}

.spam:hover{
    background-color: rgb(88, 67, 67);
}

.copyright{
    background-color: rgba(133, 101, 101, 0.64);
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items:end;
    
}
