p, em {
    margin: 0;
    padding: 0;
}

body{
    background-color: ivory;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white ;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
}

.container{
    padding-top: 10rem; 
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    background-color: white;
    margin-bottom: 6rem;
    margin-top: 19rem;
}

.product-image{
    margin-left: 7rem;
    margin-top: 18rem;
    box-shadow: 0 0 15px 10px rgba(104, 97, 97, 0.5);
}

.product-info{
    display: flex;
    flex-direction: column;
    margin-right: 10rem;
    margin-top: 17rem;
}
.text{
    display: inline;
    font-size: 3rem;
}

.taste{
    display: inline;
    font-size: 1.7rem;
}

.price{
    font-size: 1.5rem;
    margin-top:2rem;
    margin-bottom: 4rem;
}

.description{
    display: inline;
    font-size: 1.5rem;
}

.quantity-text{
    display: inline;
    font-size: 1.5rem;
}

.quantity-box{
    margin-top: 4rem;
    cursor: pointer;
    border-radius: 0.2rem;
    width: 50;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.add{
    margin-top: 5rem;
    cursor: pointer;
    background-color: rgba(98, 61, 61, 0.64);
    color: aliceblue;
    border-radius: 5rem;
    width: 50%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: none;
    margin-left: 6rem;
}

.add:hover{
    background-color: rgba(115, 81, 81, 0.64);
}

.footer-container{
    background-color: rgba(98, 61, 61, 0.64);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 101%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.information{
    display: flex;
    justify-self:center;
    align-items: baseline;
    flex-direction: row;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

.newsletter{
    margin-left: 2rem;
    font-size: 1.5rem;

}

.location{
    margin-right: 6rem;
    font-size: 1.5rem;
}

.contact{
    margin-right: 6rem;
    font-size: 1.5rem;
}

.follow{
    font-size: 1.5rem;
    align:center:
}

.put-email{
    display: flex;
    align-items: center;
}

.email{
    cursor: pointer;
    border-radius: 2rem;
    width: 20rem;
    font-size: 1.5rem;
    padding: 0.2rem;
}

.spam{
    margin-left: 1rem;
    border-radius: 4rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border: none;
    background-color: rgb(75, 54, 54);
    color: white;
}

.spam:hover{
    background-color: rgb(88, 67, 67);
}
