html, body{
    background-color: rgb(251,247,241);
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p, em {
    margin: 0;
    padding: 0;
}

.footer-container{
    background-color:  rgb(229, 205, 176);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    left:0;
    right: 0;
    bottom: 0;
    padding-top: 2rem;
}

.information{
    display: flex;
    justify-self:center;
    align-items: baseline;
    flex-direction: row;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

.newsletter{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 2rem;
    font-size: 1.5rem;

}

.location{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
    font-size: 1.5rem;
}

.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
    font-size: 1.5rem;
}

.follow{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
}

.put-email{
    display: flex;
    align-items: center;
}

.email{
    border-style: solid;
    cursor: pointer;
    border-radius: 2rem;
    width: 20rem;
    font-size: 1.5rem;
    padding: 0.2rem;
}

.spam{
    margin-left: 1rem;
    border-radius: 4rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border: none;
    background-color: rgb(114, 91, 78);
    color: white;
}

.spam:hover{
    background-color:  rgb(130, 107, 101);
}

.copyright{
    background-color: rgb(229, 205, 176);
    left:0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items:end;
}