p,h1,em{
    padding: 0;
    margin: 0;
}

html,body{ 
    background-color:rgb(250, 242, 230);
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*lily's header*/ .header {
    z-index: 1;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(243, 222, 194);
    box-shadow: 0 5px 10px rgba( 0, 0, 0, 0.3);

}
.left-section {
    display: inline-flex;
}
#logo {
    height: 1.3em;
    margin-right: 0.5rem;
}
.right-section {
    display: flex;
    gap: 2.3rem;
}
.element {
    color: black;
    text-decoration: none; 
}
.element:hover {
    color: gray;
}
#cart {
    height: 1em;
    margin-top: 0.1rem;
}

a:link, a:visited{
    color: black;
    text-decoration: none;
}/*lily's header*/

.top{
    margin-top: 4.6rem;
    width: 100%;
    height: 90vh;
    position: relative;
}

.picture{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    object-fit: cover;
}

.tint{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 90vh;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 5rem;
    color: rgb(251,247,241);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 5%;
}

.text1{
    text-align: justify;
    font-size: 1.7rem;
    margin-top: 3rem;
}

.videos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    gap: 6rem;
}

.text2{
    text-align: justify;
    font-size: 1.7rem;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
}

.middle{
    width: 100%;
}

.pic{
    width: 90vw;
    height: 40vh;
    object-fit: cover;
    margin-bottom: 2rem;
}

.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.text3{
    text-align: justify;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.text4{
    text-align: justify;
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

/*.audios{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-top: 3rem;
    margin-right: 45rem;
}

.text-sound{
    font-size:2rem;
    margin-bottom: 2rem;
}

.cricket{
    margin-bottom: 1rem;
}

.river{
    margin-bottom: 1rem;
}

.birds{
    margin-bottom: 1rem;
}*/

.party-button{
    display: flex;
    margin-bottom: 1rem;
    margin-left: 8rem;
    background-color: rgb(250, 242, 230);
    border: none;
    border-radius: 3rem;
    color: rgb(250, 242, 230);
}

.footer-container{
    background-color:  rgb(229, 205, 176);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    left:0;
    right: 0;
    bottom: 0;
    padding-top: 2rem;
}

.information{
    display: flex;
    justify-self:center;
    align-items: baseline;
    flex-direction: row;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

.newsletter{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 2rem;
    font-size: 1.5rem;

}

.location{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
    font-size: 1.5rem;
}

.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
    font-size: 1.5rem;
}

.follow{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
}

.put-email{
    display: flex;
    align-items: center;
}



.email{
    border-style: solid;
    cursor: pointer;
    border-radius: 2rem;
    width: 20rem;
    font-size: 1.5rem;
    padding: 0.2rem;
}

.spam{
    margin-left: 1rem;
    border-radius: 4rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border: none;
    background-color: rgb(114, 91, 78);
    color: white;
}

.spam:hover{
    background-color:  rgb(130, 107, 101);
}

.copyright{
    background-color: rgb(229, 205, 176);
    left:0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items:end;
}