p {
   margin: 0;
}
body {
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    background-color: rgb(250, 242, 230); 
}
.header {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgb(243, 222, 194);
    z-index: 3;
}
.left-section {
    display: inline-flex;
}
#logo {
    height: 1.3em;
    margin-right: 0.5rem;
}
.right-section {
    display: flex;
    gap: 2.3rem;

}
.element {
    color: black;
    text-decoration: none; 
}
.element:hover {
    color: gray;
}
#cart {
    height: 1em;
    margin-top: 0.1rem;
}
#heading {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    font-size: 3rem;
    margin-bottom: 0;
}
#flavorFilter {
    width: 8rem;
    height: 2rem;
    margin-left: 4rem;
}


  .hidden {
    display: none !important; 
}
  .sort {
    margin-left: 4rem;
}
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 12.5em;
    background-color: rgb(243, 227, 210);
    padding: 1rem;
    padding-top: 1.5rem;
    position: relative;
    text-align: center;
    transition: transform 0.3s;
    text-decoration: none;
    color: black;
}
.product-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
 .products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  justify-items: center;
  row-gap: 3rem;
}
.name, .price {
    font-size: 1.5em;
}
.price, .horizontal-line {
    margin-top: 0;
}
.name, .horizontal-line {
    margin-bottom: 0;
}
.tea-image {
  height: 14em;
  width: 11em;
  border-radius: 15px;
  transition: transform 0.3s ease;
  z-index: 1;
  object-fit: cover;
}

.tea-image:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/*Tsveti's footer*/
.footer-container{
    background-color: rgb(229, 205, 176);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 2rem;
     margin: 0;
}

.information{
    display: flex;
    justify-self:center;
    align-items: baseline;
    flex-direction: row;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

.newsletter{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 2rem;
    font-size: 1.5rem;

}

.location{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
    font-size: 1.5rem;
}

.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
    font-size: 1.5rem;
}

.follow{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
}

.put-email{
    display: flex;
    align-items: center;
}
.email{
    cursor: pointer;
    border-radius: 2rem;
    width: 20rem;
    font-size: 1.5rem;
    padding: 0.2rem;
}

.spam{
    margin-left: 1rem;
    border-radius: 4rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border: none;
    background-color: rgb(114, 91, 78);
    color: white;
}

.spam:hover{
    background-color: rgb(130, 107, 101);
}

.copyright{
    background-color: rgb(229, 205, 176);
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items:end;
}
/*Tsveti's footer*/

  
 