body {
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;

}
.header {
    border-bottom: solid;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(133, 101, 101, 0.64);
    z-index: 1;
}
.left-section {
    display: inline-flex;
}
#logo {
    height: 1.3em;
    margin-right: 0.5rem;
}
.right-section {
    display: flex;
    gap: 2.3rem;

}
.element {
    color: black;
    text-decoration: none; 
}
.element:hover {
    color: gray;
}
#cart {
    height: 1em;
    margin-top: 0.1rem;
}
#heading {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    font-size: 3rem;
    margin-bottom: 0;
}
.product {
    display: inline-flex;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    height: 23em;
    width: 15em;
    flex-direction: column;
    align-items: center;
    color: black;
}
.products, .products-2, .products-3  {
    display: flex;
    justify-content: space-around;
}
.products-2, .products-3 {
    margin-top: 3rem;
}
.products-3 {
    margin-bottom: 3rem;
}
.name, .price {
    font-size: 1.5em;
}
.price, .horizontal-line {
    margin-top: 0;
}
.name, .horizontal-line {
    margin-bottom: 0;
}
.tea-image {
    height: 14em;
    width: 11em;
    margin-top: 1.5em;
    border-radius: 15px;
    transition: 0.5s;
}
.tea-image:hover {
    height: 14.5em;
    width: 11.5em;
    cursor: pointer;
}

/*Tsveti's footer*/
.footer-container{
    background-color: rgba(133, 101, 101, 0.64);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    right: 0;
    left: 0;
    bottom: 0;
}

.information{
    display: flex;
    justify-self:center;
    align-items: baseline;
    flex-direction: row;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

.newsletter{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 2rem;
    font-size: 1.5rem;

}

.location{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
    font-size: 1.5rem;
}

.contact{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 5rem;
    font-size: 1.5rem;
}

.follow{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
}

.put-email{
    display: flex;
    align-items: center;
}
.email{
    cursor: pointer;
    border-radius: 2rem;
    width: 20rem;
    font-size: 1.5rem;
    padding: 0.2rem;
}

.spam{
    margin-left: 1rem;
    border-radius: 4rem;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border: none;
    background-color: rgb(75, 54, 54);
    color: white;
}

.spam:hover{
    background-color: rgb(88, 67, 67);
}

.copyright{
    background-color: rgba(133, 101, 101, 0.64);
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items:end;
    
}

/*Tsveti's footer*/
.menu-container {
  margin-top: 5rem;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

.dropbtn {
  background-color: #ddd;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2f2f2;
  min-width: 160px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
  z-index: 1;
}

.dropdown-content a {
  padding: 10px 16px;
  display: block;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: #e0e0e0;
}

.dropdown:hover .dropdown-content {
  display: block;
}